* {
  margin: 0;
  padding: 0;
}

div.makeStyles-container-1{
  background-color: #1B1D1E;
}

.App {
  background-color: #222831;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  width: 50%;
  color: white;
  display: inline-block;
}

.App-link {
  color: #61dafb;
}

.gestures-modal-show {
  width: 50px;
  height: 50px;
  border-width: 0;
  border-radius: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  font-weight: bold;
  z-index: 10;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
